@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/MuseoSansCyrl-300.eot');
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Bold';
  src: url('../fonts/MuseoSansCyrl-700.eot');
  src: url('../fonts/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.brif {
  background-image: url('..//img/brif/brif-color-bg.jpg'), url('..//img/brif/brif-bg.jpg');
  background-position: left center, center right;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
}
.brif-block {
  display: flex;
}
.brif__interview,
.brif__form {
  flex-basis: 50%;
}
.brif__form {
  padding-left: 200px;
  text-align: center;
}
.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}
.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.interview {
  padding-right: 70px;
}
.interview__title {
  font-size: 22px;
  margin-bottom: 50px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.interview__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 95px;
}
.interview-list {
  list-style: none;
  padding: 0;
}
.interview-list__item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.interview-list__counter {
  display: inline-block;
  margin-right: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  width: 35px;
  height: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
}
.interview-list__text {
  max-width: 400px;
}
.form__title {
  font-size: 22px;
  margin-bottom: 50px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}
.form__subtitle {
  display: block;
  font-size: 16px;
  margin-bottom: 50px;
}
.form__description {
  display: block;
}
@media (max-width: 1200px) {
  .brif__form {
    padding-left: 30px;
  }
  .interview {
    padding-right: 20px;
  }
  .interview__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 210px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .brif {
    background-image: url('..//img/brif/brif-color-bg.jpg'), url('..//img/brif/brif-bg.jpg');
    background-position: top center, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif-block {
    flex-direction: column;
  }
  .brif__form {
    margin-top: 60px;
  }
}
