.hero {
  padding: 50px 0;
}
.hero-block {
  display: flex;
}
.hero-text {
  align-self: start;
  flex-basis: 50%;
  padding-right: 140px;
}
.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}
.hero-text__subtitle {
  font-size: 20px;
  font-weight: 500;
}
