body {
  font-family: sans-serif;
}
img {
  max-width: 100%;
}
.container {
  width: 1170px;
  margin: auto;
}
.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}
@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}
@media (max-width: 567px) {
  .container {
    max-width: 550px;
    width: 95%;
  }
  .button {
    border-radius: 5px;
    background-color: #ffd200;
  }
}
/* Импорт стилей шапки */
.navbar {
  padding: 8px 0;
}
.navbar-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__info {
  display: flex;
  align-items: center;
}
.navbar__contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
}
.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}
.navbar__phone {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  text-align: right;
  color: #333333;
  text-decoration: none;
  margin-top: 10px;
}
.navbar__address {
  font-size: 13px;
}
@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 12px 26px;
    color: #333333;
    font-family: "Museo Sans Cyrl -700";
    font-size: 10px;
    font-weight: 700;
  }
  .navbar__logo {
    width: 90px;
  }
}
@media (max-width: 567px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    padding: 12px 26px;
    color: #333333;
    font-family: "Museo Sans Cyrl -700";
    font-size: 10px;
    font-weight: 700;
    width: 137px;
    height: 39px;
  }
  .navbar__logo {
    width: 90px;
  }
  .navbar__info {
    justify-content: space-around;
  }
  .navbar-block {
    justify-content: space-around;
  }
}
/* Импорт стилей главной (первого экрана) страницы */
.hero {
  padding: 50px 0;
}
.hero-block {
  display: flex;
  align-items: center;
}
.hero-text {
  flex-basis: 50%;
  padding-right: 140px;
}
.hero-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 40px;
}
.hero-text__subtitle {
  font-size: 20px;
  font-weight: 500;
}
